.footer {
  padding: 76px 0;
  background-color: #005c97;
  color: #fff;

  p {
    margin: 0;
  }

  &__logo img {
    width: 100%;
    max-width: 224px;
  }

  &__links {
    padding-top: 30px;
  }

  &__category {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;

      @media screen and (min-width: breakpoint(sm)) {
        font-size: 16px;
      }

      @media screen and (min-width: breakpoint(md)) {
        padding-top: 18px;
      }
    }
  }

  &__copyright {
    padding-top: 40px;
  }

  // Right part

  &__contact-header {
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 14px;

    @media screen and (min-width: breakpoint(sm)) {
      font-size: 16px;
      padding-top: 0;
      padding-top: 18px;
    }

    // @media screen and (min-width: breakpoint(md)) {

    // }
  }

  &__contact-address {
    padding-bottom: 45px;
    font-size: 14px;

    @media screen and (min-width: breakpoint(sm)) {
      font-size: 16px;
      padding-top: 18px;
    }

    // @media screen and (min-width: breakpoint(md)) {

    // }
  }

  &__social-link {
    margin-right: 22px;
  }

  &__social-link img {
    width: 100%;
    max-width: 28px;
  }
}
