// .header {

//   &__nav {
//     color: $primary;
//     font-size: 20px;
//     font-weight: 600;

//     > li > a {
//       line-height: 20px;

//       &:hover {
//         color: $primary;
//         opacity: 0.7;
//       }

//       @media(min-width: 1200px) {
//         margin-left: 15px;
//       }
//     }

//     .dropdown-menu a {
//       padding: .4rem 1.5rem;
//     }

//     li:last-child a.nav-link {
//       width: 150px;
//       color: #fff;
//       font-weight: 300;
//       font-size: 20px;
//       background-color: #f47521;
//       padding: 7px 20px;
//       border-radius: 10px;
//       transition: all 0.2s ease;
//       line-height: 32px;
//       margin-top: 10px;
//       white-space: nowrap;

//       &:hover {
//         opacity: 1;
//         color: #fff;
//         background-color: #c3560e;
//       }

//       @media(min-width: 992px) {
//         width: auto;
//         padding: 7px 10px;
//         margin-left: 40px;
//         margin-top: 0;
//       }

//       @media(min-width: 1200px) {
//         padding: 7px 28px;
//       }
//     }
//   }

//   &__arrow {
//     display: inline-block;
//     margin-left: 10px;
//     width: 17px;
//     height: 10px;
//     vertical-align: 0;
//     background: url(../src/img/arrow.svg) no-repeat center center;
//     background-size: 17px;
//   }

//   .navbar {
//     padding: 20px;
//     background-color: #fff;
//     top: 0;

//     &--ticker {
//       top: 73px;

//       @media(min-width: 400px) {
//         top: 54px;
//       }

//       @media(min-width: 730px) {
//         top: 44px;
//       }
//     }

//     &-collapse.show,
//     &-collapse.collapsing {
//       > ul {
//         padding-top: 20px;
//       }
//     }
//   }

//   .dropdown-toggle {
//     white-space: normal;

//     &::after {
//       display: none;
//     }
//   }

//   .navbar-expand-lg .header__nav {
//     @media (min-width: 992px) {
//       align-items: center;
//     }
//   }
// }
// }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header-top {
  background-color: #005c9b;
  overflow: hidden;
  min-height: 65px;
  display: flex;
  text-align: center;
  align-items: center;

  &__text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
  }

  &__btn {
    background: #f47521;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-left: 16px;
    text-transform: uppercase;
    padding: 7px 21px;
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: #f5f7f7;
  height: 94px;
  box-shadow: 0 3px 15px #b3b3b373;

  &__logo img{
    width: 100%;
    max-width: 200px;
  }
}
