.post-promo {
  margin-top: 30px;
  padding: 20px;
  background-color: #e6f2fd;
  flex-direction: column;
  align-items: center;

  @media(min-width: 768px) {
    flex-direction: row;
  }

  &__image {
    @extend .col-12;
    @extend .col-md-5;
    @extend .col-lg-4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    img {
      border-radius: 3px;
    }

    @media(min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__info {
    @extend .col-12;
    @extend .col-md-7;
    @extend .col-lg-8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f54e5;

    h5 {
      font-size: 26px;
      line-height: 26px;
    }

    p {
      margin-bottom: 15px;
      line-height: 20px;
      font-size: 14px;
    }

    a {
      text-align: center;
      border-radius: 5px;
      padding: 10px 5px;
      color: #fff;
      font-weight: 600;
      display: block;
      max-width: 150px;
      background-color: #3FA2F7;

      &:hover {
        text-decoration: none;
      }
    }
  }
}