.consultation {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  &__images {
    position: absolute;
    width: 50%;
    height: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__image {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: contain;
  }

  &__calendar {
    padding-top: 44px;
    width: 350px;
    height: 452px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 5px 15px #0000000a;
    padding: 0;

    .calendly-inline-widget {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: breakpoint(xl)) {
  .consultation {
    &__images {
      position: relative;
      width: 100%;
      top: 0;
      transform: none;
      height: 600px !important;
      margin-top: 50px;
    }

    &__image {
    }

    &__calendar {
      .calendly-inline-widget {
      }
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .consultation {
    &__images {
      height: 350px !important;
    }
  }
}
