.hero {
  position: relative;
  overflow: hidden;

  h1 {
    margin-bottom: 0 !important;
    height: 120px;
  }

  &__content {
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__images {
    position: absolute;
    width: 50%;
    height: 605px;
    right: 0;
    top: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: contain;
  }
}

@media (max-width: breakpoint(xl)) {
  .hero {
    h1 {
      // height: 120px;
    }

    &__content {
      height: auto;
      padding: 40px 0;
    }

    &__images {
      position: relative;
      width: 100%;
      // height: 605px;
    }

    &__image {
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .hero {
    h1 {
      // height: 120px;
    }

    &__content {
      // height: auto;
      // padding: 40px 0;
    }

    &__images {
      // position: relative;
      // width: 100%;
      height: 300px;
    }

    &__image {
    }
  }
}
