.list-icon {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  &__text {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 14px;
  }

  &__holder {
    display: block;
    @media (min-width: breakpoint(sm)) {
      display: flex;
    }
  }

  &__icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    @media (min-width: breakpoint(sm)) {
      margin: 10px 30px;
    }
  }

  &__icon {
    display: block;
  }
}
