.multi-column {
  $parent: &;

  &__columns {
    padding: 0 20px;

    @media (min-width: breakpoint(sm)) {
      padding:0;
    }
  }

  &__column {
    display:block;
    position: relative;
    max-width: 245px;
    padding: 45px 20px;
    margin: 0 auto;
    z-index: 1;
  }

  &__column-background {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
  }

  &__column-icon {
    display: block;
    margin: 0 auto 24px;

    img {
      height: 80px;
      width: 100px;
      object-fit: contain;
    }
  }

  &__column-title {
    height: 60px;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;


    @media (min-width: breakpoint(xl)) {
      height: 80px;
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__column-description {
    height: 100px;
    color:#000;
  }

  .boxed {
    #{$parent}__column-background {
      display: block;
    }
  }
}
