.multi-column {
  $parent: &;

  &__columns {
    padding: 0 20px;

    @media (min-width: breakpoint(sm)) {
      padding: 0;
    }
  }

  &__column {
    display: block;
    position: relative;
    max-width: 245px;
    padding: 45px 20px;
    margin: 0 auto;
    z-index: 1;
    height: 100%;
  }

  &__column-background {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
  }

  &__column-icon {
    display: block;
    margin: 0 auto 24px;

    img {
      height: 80px;
      width: 100px;
      object-fit: contain;
    }
  }

  &__column-title {
    height: 60px;
    // font-size: 20px;
    line-height: 25px;
    @include font-size($font-size-base * 1.56);

    &.font-22 {
      @include font-size($font-size-base * 1.375);
    }

    &.font-20 {
      @include font-size($font-size-base * 1.25);
    }

    &.font-18 {
      @include font-size($font-size-base * 1.125);
    }

    &.font-16 {
      @include font-size($font-size-base * 1);
    }

    &.font-14 {
      @include font-size($font-size-base * 0.875);
    }

    @media (min-width: breakpoint(xl)) {
      height: 80px;
      //   font-size: 25px;
      line-height: 30px;
    }
  }

  //   &__column-button {
  //     margin-top: 15px;
  //   }

  &__column-description {
    // height: 100px;
    height: max-content;
    color: #000;

    &.with-btn {
      margin-bottom: 10px;
    }
  }

  .boxed {
    #{$parent}__column-background {
      display: block;
    }
  }
}
