.split-column {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__video {
    max-width: 100%;
    margin-top: 50px;

    @media (min-width: breakpoint(xl)) {
      margin-top: 0;
    }

    iframe {
      max-width: 100%;
      // height: 50vw;

      height: 50vw;
      @media (min-width: breakpoint(md)) {
        height: 360px;
      }
      // @media (min-width: breakpoint(lg)) {
      //   height: 400px;
      // }
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    background: no-repeat center center;
    background-size: contain !important;
    margin-top: 50px;

    img {
      object-fit: contain;
    }

    @media (min-width: breakpoint(xl)) {
      margin-top: 0;
    }

    &.top,
    &.bottom {
      height: 100%;
      transform: none;
    }

    &.top {
      background: no-repeat top center;
      top: 0;
    }

    &.bottom {
      top: unset;
      background: no-repeat bottom center;
      bottom: 0;
    }
  }

  &__expanded-image-holder {
    position: absolute;
    width: 50%;
    max-width: 50%;
    height: 100%;
    top: 0;

    @media (max-width: breakpoint(xl)) {
      width: 100% !important;
      max-width: 100% !important;
      height: 400px;
      position: relative;
      margin: 0 auto;
      margin-top: 40px;
    }
  }

  &__expanded-image {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    margin-left: auto;

    &.stick-left {
      background: no-repeat center center;
      background-size: cover;
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__description {
    p ~ p {
      margin-top: 30px;
    }
  }
}

@media (max-width: breakpoint(xl)) {
  .split-column {
    &__image {
      position: relative;
      top: 0;
      transform: none;
      height: 300px !important;

      &.top {
        top: -80px;
      }

      &.bottom {
        top: 80px;
        margin-top: -80px;
      }
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .split-column {
    &__button {
      margin-top: 30px;
    }
  }
}
