.services {
  padding: 60px 0;
  box-shadow: 0 10px 6px -6px #999;

  .row {
    &:first-child {
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
    }

    &:nth-child(2) {
      position: relative;
      margin-top: 40px;

      &:before {
        content: '';
        display: none;
        position: absolute;
        height: 25px;
        top: -65px;
        width: 65%;
        background: url("../src/img/line.png") no-repeat center center;

        @media(min-width: 768px) {
          display: block;
        }
      }
    }

  }

  &__title {
    @extend .col-12;
    @extend .col-lg-11;
    color: #666;
    line-height: 1.2;
    font-weight: 300;
    font-size: 34px;
    text-align: center;

    &--list {
      text-align: left;
      padding: 0;
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  &__subtitle {
    @extend .col-12;
    @extend .col-lg-11;
    font-size: 18px;
    font-weight: 400;
    color: #044e7c;
    text-align: center;
  }

  &__text {
    @extend .col-12;
    @extend .col-lg-11;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
    color: #888;
    text-align: center;
  }

  &__image {
    @extend .col-12;
    @extend .col-md-5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    @media(min-width: 1200px) {
      img {
        max-width: 456px;
      }
    }

  }

  &__descr {
    @extend .col-12;
    @extend .col-md-7;
  }

  &__content {
    line-height: 2em;
    font-size: 16px;
    color: #666;

    ul {
      margin: 0;
      padding-left: 20px;
    }

    li {
      list-style-type: none;

      &:before {
        content: '\2022';
        font-weight: 300;
        display: inline-block;
        width: 20px;
        font-size: 33px;
        vertical-align: -20%;
        margin-left: -18px;
      }
    }

  }
}