.subscribe {
  display: flex;
  justify-content: center;

  h5 {
    color: #005c97;
    font-size: 14px;
    font-weight: 600;
  }

  &__inner {
    width: 290px;
    background-color: #bdc7cd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;

    > span {
      font-size: 10px;
      color: #005c97;
      font-weight: 300;
      line-height: 14px;
    }
  }

  &__form {
    .actions {
      margin-top: 0;
      padding: 0 20px 18px 0!important;
    }

    & > p {
      margin-top: -20px;
    }
  }

  &__btn {
    font-size: 12px;
    margin-bottom: 20px;
  }

}